body {
    background-image: url("/static/cards/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.welcome {
    color: white;
    font-family: Karumbi;
    font-size: 70px;
    text-align: center;
}

.playing-field {
    max-width: 1500px;
    max-height: 900px;
    margin-left: 4%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
}

.card {
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}


.csscard {
    background-image: url("/static/cards/css.gif");
}

.fire {
    background-image: url("/static/cards/fire.gif");
}

.monkey {
    background-image: url("/static/cards/giphy.gif");
}

.goat {
    background-image: url("/static/cards/goat.jpeg");
}

.sheldon {
    background-image: url("/static/cards/sheldon.png");
}

.why {
    background-image: url("/static/cards/why.jpg");
}

.hidden {
    background-image: url("/static/cards/hide.png");
}

.pairs {
    visibility: hidden;
}

.win {
    display: block;
    font-size: 40px;
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-align: center;
}

.restart {
    color: purple;
    text-decoration: underline;
    cursor: pointer;
}

.mouseon {
    color: lightgreen;
}

.mouseclicked {
    color: darkmagenta;
}
