<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js" defer></script>
</head>
<body>
<div class="welcome"><b>Let's test your memory!</b></div>
<div class="win"></div>
<div class="main">
    <div class="playing-field">
        <div class="card csscard" data-name="csscard"></div>
        <div class="card fire" data-name="fire"></div>
        <div class="card goat" data-name="goat"></div>
        <div class="card monkey" data-name="monkey"></div>
        <div class="card sheldon" data-name="sheldon"></div>
        <div class="card why" data-name="why"></div>
        <div class="card csscard" data-name="csscard"></div>
        <div class="card fire" data-name="fire"></div>
        <div class="card goat" data-name="goat"></div>
        <div class="card monkey" data-name="monkey"></div>
        <div class="card sheldon" data-name="sheldon"></div>
        <div class="card why" data-name="why"></div>
    </div>
</div>
</body>
</html>