<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js" defer></script>
</head>
<body>
<div class="welcome"><b>Let's test your memory!</b></div>
<div class="main">
    <div class="playing-field">
        <i class="card csscard" data-name="csscard"></i>
        <i class="card fire" data-name="fire"></i>
        <i class="card goat" data-name="goat"></i>
        <i class="card monkey" data-name="monkey"></i>
        <i class="card sheldon" data-name="sheldon"></i>
        <i class="card why" data-name="why"></i>
        <i class="card csscard" data-name="csscard"></i>
        <i class="card fire" data-name="fire"></i>
        <i class="card goat" data-name="goat"></i>
        <i class="card monkey" data-name="monkey"></i>
        <i class="card sheldon" data-name="sheldon"></i>
        <i class="card why" data-name="why"></i>
    </div>
</div>
</body>
</html>